<!DOCTYPE HTML>
<!--/*-->
<!--suppress ThymeleafVariablesResolveInspection, HtmlUnknownTarget -->
<!--*/-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LoginApp</title>
    <meta charset="UTF-8"/>
</head>
<body>

<pre>Node: <span th:text="${selfAddress}"></span><br/></pre>

<div th:if="${appState != null}">
    Welcome, <span th:text="${appState.user.nickname}"></span>.<br/>
    <a href="/logout">Logout.</a>
</div>

<div th:if="${appState == null}">
    Welcome, Guest.<br/>
    <form action="/login" method="post">
        <label for="username">Username: </label><input type="text" id="username" name="username"/><br/>
        <label for="password">Password: </label><input type="text" id="password" name="password"/><br/>
        <input type="submit" value="log in button"/>
    </form>
</div>

<div th:if="${reqState == 'fail'}">
    Incorrect credentials were given!
</div>

</body>
</html>
