<!DOCTYPE HTML>
<!--suppress ThymeleafVariablesResolveInspection, HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LoginApp</title>
    <meta charset="UTF-8"/>
</head>
<body>

<div th:if="${appState != null}">
    Welcome, <span th:text="${appState.user.nickname}"></span>.<br/>
    <a href="/logout">Logout from the application.</a>
</div>

<div th:if="${appState == null}">
    Welcome, Guest.<br/>
    <form action="/login" method="post">
        <label for="username">Login: </label><input type="text" id="username" name="username"/><br/>
        <label for="password">Password: </label><input type="text" id="password" name="password"/><br/>
        <input type="submit" value="Let's log in to the application."/>
    </form>
</div>

<div th:if="${reqState == 'fail'}">
    Incorrect credentials were given!
</div>

</body>
</html>
